<% const manifest = JSON.parse(await readFile('dist/manifest.json')); %>
<!doctype html>
<html class="h-full w-full" lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/spike.png" />
    <link rel="preconnect" href=<%= process.env.API_URL %> />
    <link rel='stylesheet' href='<%= manifest['src/index.css'][0].slice(4) %>'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spikeball</title>
  </head>
  <body class="h-full w-full">
    <div id="root" class="h-full w-full"></div>
    <script><%= await readFile('dist/inline-entry.js') %></script>
  </body>
</html>
