<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name='viewport' content='initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,shrink-to-fit=no,user-scalable=no,viewport-fit=cover,width=device-width' />
    <link rel="icon" type="image/svg+xml" href="/spike.png" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <link rel="preconnect" href=<%= process.env.API_URL %> />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name='theme-color' content='#fff'>
    <meta name='mobile-web-app-capable' content='yes'>
    <meta name='apple-mobile-web-app-capable' content='yes'>
    <meta name='apple-mobile-web-app-status-bar-style' content='default'>
    <title>Spikeball</title>
    <style>
      <%= await readFile('dist/index.css') %>
    </style>
  </head>
  <body>
    <div id="root"></div>
    <script>
      <%
      const manifest = JSON.parse(await readFile('dist/manifest.json'));
      const urlManifest = Object.fromEntries(Object.entries(manifest).map(([key, paths]) => [key, paths.map(path => path.slice(4))]));
      %>

      globalThis.spike = { manifest: <%= JSON.stringify(urlManifest) %> };
      window.env = { API_URL: '<%= process.env.API_URL %>', VERSION: '<%= process.env.VERSION %>' }; 

      <% for (const path of manifest['src/entry.js']) print(await readFile(path)); %>
    </script>
  </body>
</html>
